/* Doing the style on div id1 */
#d1
{
   height: 100px;
   width: 200px;
   background-image: url("cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers.jpg");
   
   background-size: cover;
}
#d2
{
    height: 100px;
    width: 300px;
   background-image: url("lone-tree.jpg");
   background-size: cover;
}
#d3
{
    height: 100px;
    width: 400px;
    background-image: url("beautiful-autumnal-landscape.jpg");
    background-size: cover;
}
body
{
    background-image: url("morskie-oko-tatry.jpg");
    background-size: cover;
}
#d1,#d2,#d3
{
    color:white ;
}
