/* Doing the style on div id1 */
#d1
{
   height: 100px;
   width: 200px;
   background-color: aqua;
}
#d2
{
    height: 100px;
    width: 300px;
   background-color: chartreuse;
}
#d3
{
    height: 100px;
    width: 400px;
    background-color: hotpink;
}
body
{
    background-color: burlywood;
}
